body{
    background-color: antiquewhite;
}
#icon{
font-size: 500px;
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
margin: 0;
}
#btn{
    position: fixed;
            bottom: 100px; 
            left: 580px;
            background-color: #3498db;  color: #fff; border: none;  padding: 12px 24px;font-size: 18px;border-radius: 25px;  cursor: pointer;  transition: background-color 0.3s ease
        }
        #btn:hover {background-color: #2980b9; }